# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoint

# Data (keep folders only)
data/*
!data/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# OS/editor
.DS_Store
Thumbs.db
